<div class="container" mat-dialog-content>
    <div class="wrapper">
        <div class="scoreInfo classique">
            <!-- <mat-card-title> {{ "game.type.classic" | translate }} </mat-card-title> -->
            <mat-card class="highScoreTableClassic">
                <table>
                    <thead class="tableContainer">
                        <tr>
                            <th>{{ "game.info.scores" | translate }}</th>
                            <th>{{ "game.info.players" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let highScore of topRanker">
                            <td class="tableData">
                                {{ highScore.ranking }}
                            </td>
                            <td class="tableData">
                                {{ highScore.username }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>
    </div>
</div>
