<div class="encapsulating-div">
    <app-header></app-header>

    <body class="mat-app-background">
        <div class="forgot-password-container">
            <h2 class="forgot-password-title">{{ "forgot-password.forgot" | translate }}</h2>
            <div class="forgot-password-message-container">
                <p class="forgot-password-message">
                    {{ "forgot-password.message" | translate }}
                </p>
            </div>
            <mat-card class="forgot-password-card" style="padding: 16px">
                <form [formGroup]="formGroup" class="justified">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ "forgot-password.username_label" | translate }}</mat-label>
                        <input type="text" matInput name="username" [formControl]="usernameForm" />
                    </mat-form-field>
                    <div class="connection-buttons">
                        <div>
                            <button mat-raised-button color="primary" (click)="forgot()">{{ "forgot-password.send_email" | translate }}</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </body>

    <app-footer></app-footer>
</div>
