<div class="encapsulating-div">
    <app-header></app-header>

    <body class="mat-app-background">
        <div class="forgot-password-container">
            <h2 class="forgot-password-title">Forgot Password</h2>
            <div class="forgot-password-message-container">
                <p class="forgot-password-message">
                    Enter the username associated with your account. An email with a temporary password will be sent to the email address linked to
                    your account.
                </p>
            </div>
            <mat-card class="forgot-password-card" style="padding: 16px">
                <form [formGroup]="formGroup" class="justified">
                    <mat-form-field appearance="outline">
                        <mat-label>Nom d'utilisateur</mat-label>
                        <input type="text" matInput name="username" [formControl]="usernameForm" />
                    </mat-form-field>
                    <div class="connection-buttons">
                        <div>
                            <button mat-raised-button color="primary" (click)="forgot()">Envoyer un courriel</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </body>

    <app-footer></app-footer>
</div>
