body {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.connection-form {
    align-items: normal;
    margin-bottom: 16px;
}

.avatar-selector {
    margin-bottom: 20px;
    align-self: center;
}

.selector-avatar {
    margin-bottom: 20px;
    align-self: center;
    height: 56px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

::ng-deep mat-dialog-container div.mat-mdc-dialog-surface {
    box-shadow: none !important;
    border-radius: 6px !important;
    border-style: ridge !important;
    border-radius: 8px !important;
    overflow-y: hidden;
}
