<div class="encapsulating-div">
    <app-header></app-header>
    <mat-drawer-container>
        <div class="always-visible-content">
            <!-- <button *ngIf="!chatIsOpen" class="open-chat-button" mat-raised-button color="primary" (click)="drawer.toggle()" (click)="openChat()">
            <button hidden *ngIf="!chatIsOpen" class="open-chat-button" mat-button (click)="drawer.toggle()" (click)="openChat()"> -->
            <!-- <mat-icon>chat_bubble_outline</mat-icon>
                {{ "main_page.chat.open" | translate }}
            </button> -->
            <button hidden *ngIf="chatIsOpen" class="open-chat-button" mat-button (click)="drawer.toggle()" (click)="closeChat()">
                <mat-icon>keyboard_arrow_left</mat-icon>
                {{ "main_page.chat.close" | translate }}
            </button>
            <mat-card class="justified">
                <mat-card-content class="justified">
                    <div
                        id="scores"
                        (click)="openHighScoreDialog()"
                        matTooltip="{{ 'main_page.tooltip.scores' | translate }}"
                        matTooltipPosition="right"
                        matTooltipClass="toolMainPage"
                    >
                        <div *ngFor="let letter of ['S', 'C', 'O', 'R', 'E', 'S']">{{ letter }}</div>
                        <mat-icon class="scores-icon">emoji_events</mat-icon>
                    </div>
                    <button
                        id="classique"
                        mat-raised-button
                        color="primary"
                        class="button game"
                        (click)="openGameTypeDialog('classique')"
                        matTooltip="{{ 'main_page.tooltip.play' | translate }}"
                        matTooltipPosition="right"
                        matTooltipClass="toolMainPage"
                        [disabled]="!userService.isConnected()"
                    >
                        {{ "main_page.play" | translate }}
                    </button>
                    <button
                        id="LOG3900"
                        mat-raised-button
                        color="primary"
                        class="button game"
                        (click)="openGameTypeDialog('LOG2990')"
                        matTooltipPosition="right"
                        matTooltipClass="toolMainPage"
                        hidden
                    >
                        Scrabble LOG2990
                    </button>
                    <!-- TODO : DO NOT DELETE!!! -->
                    <!-- <button
                        mat-fab
                        (click)="openHelpDialog()"
                        class="help-button"
                        matTooltip="{{ 'main_page.tooltip.game_instructions' | translate }}"
                        matTooltipPosition="right"
                        matTooltipClass="toolMainPage"
                    >
                        <mat-icon>help_outline</mat-icon>
                    </button>
                    <div *ngIf="loggedIn">Connecté en tant que : {{ userService.userName }}</div>
                    <mat-form-field class="text-input">
                        <mat-label>Nom d'utilisateur</mat-label>
                    </button> -->
                    <div *ngIf="loggedIn">{{ "main_page.connected_w_username" | translate }} : {{ userService.user.username }}</div>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-drawer #drawer class="chat-sidenav" mode="side">
            <div *ngIf="!loggedIn">{{ "chat.disconnected" | translate }}</div>
            <app-generic-chat *ngIf="loggedIn"></app-generic-chat>
        </mat-drawer>
    </mat-drawer-container>

    <app-footer background-color="primary"></app-footer>
</div>
