body {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

::ng-deep .mat-tab-label {
    font-family: system-ui;
    font-weight: 500;
    font-size: 18px;
    padding: 0 40px !important;
}

::ng-deep .mat-mdc-tab-body-wrapper {
    width: 100% !important;
}

::ng-deep .mat-tab-body-content::-webkit-scrollbar {
    width: 4px;
}
