<mat-grid-list cols="15" class="board" id="board" [gutterSize]="'8px'">
    <mat-grid-tile
        *ngFor="let tile of letterPlacementService.boardTiles; trackBy: identify"
        class="tile"
        (mouseenter)="entered($event, tile)"
        (mouseleave)="exited($event, tile)"
    >
        <div
            cdkDropList
            cdkDropListOrientation="horizontal"
            cdkdrop
            (cdkDropListDropped)="drop($event, tile)"
            (click)="letterPlacementService.handleTileClick(tile)"
            class="empty-tile tile-content"
            [style.background-color]="getBackgroundColor(tile.type)"
            [cdkDropListSortingDisabled]="true"
        >
            <div
                [ngClass]="[
                    tile.letter?.value ? 'board-letter' : 'blank-letter',
                    tile.state === boardTileStates.Temp ? 'temp-letter' : '',
                    tile.state === boardTileStates.Confirmed ? 'confirmed-letter' : '',
                    tile.state === boardTileStates.Pending ? 'pending-letter' : ''
                ]"
                cdkDrag
                [cdkDragData]="tile"
                (cdkDragStarted)="startedDragging(tile)"
                (cdkDragEnded)="stoppedDragging(tile)"
                (cdkDragMoved)="dragging($event, tile)"
            >
                <div class="letter-value">
                    {{ tile.letter?.value.toUpperCase() }}
                </div>
                <div class="letter-points">{{ tile.letter?.points }}</div>
                <div class="tile-text" *ngIf="tileEmpty(tile)">
                    {{ getTileText(tile.type) }}
                </div>
                <div class="icon-tile" *ngFor="let selection of letterPlacementService.selectionPositions">
                    <div *ngIf="selection.coord === tile.coord" [ngSwitch]="selection.direction">
                        <mat-icon class="direction" *ngSwitchCase="playDirection.Right">chevron_right</mat-icon>
                        <mat-icon class="direction" *ngSwitchCase="playDirection.Down">expand_more</mat-icon>
                    </div>
                </div>
                <div class="icon-tile outlined" *ngIf="showCenterTile(tile)">
                    <mat-icon>star</mat-icon>
                </div>
            </div>
        </div>

        <!--
        <mat-card-content *ngIf="tile.state === boardTileStates.Pending" class="pending-tile">
            {{ getTileText(tile.type) }}
        </mat-card-content>
        <mat-card-content *ngIf="tile.state === boardTileStates.Confirmed" class="confirmed-tile">
            {{ getTileText(tile.type) }}
        </mat-card-content> -->
    </mat-grid-tile>
</mat-grid-list>
