.tile {
	padding: 2px !important;
	height: 38px;
	width: 38px;
	background-color: lightgrey;
}

.tile-background {
	border-radius: 0px;
	box-shadow: none;
}

.tile-content {
	margin: 4px !important;
	text-align: center;
	font-size: x-small;
	min-width: 36px;
	min-height: 36px;
	display: flex;
	align-items: center;
}

.empty-tile {
	// background-color: #bdaba5;
}
