body {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.settings-form {
    align-items: normal;
    margin-bottom: 16px;
}
