<div class="encapsulating-div">
    <app-header></app-header>

    <body class="mat-app-background">
        <form class="justified settings-form">
            <mat-form-field appearance="outline">
                <!-- TODO : Language AND display current username-->
                <mat-label>Changer le nom d'utilisateur</mat-label>
                <input matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <!-- TODO : Language -->
                <mat-label>Changer votre mot de passe</mat-label>
                <input matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <!-- TODO : Language -->
                <mat-label>Confirmer le mot de passe</mat-label>
                <input matInput />
            </mat-form-field>
        </form>
    </body>

    <app-footer></app-footer>
</div>
