#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

.DS_Store

# Code Coverage Folder
coverage/
*.idea/

#Node Modules
*/node_modules
*/.angular
*/dist
*/build
*/debug
*/target
log3900.sublime-project
log3900.sublime-workspace
