<h1>{{ "admin_page.dictionary_list" | translate }}</h1>
<div class="action-buttons">
    <button mat-raised-button color="basic" (click)="updateDictionaryList()">{{ "action.refresh" | translate }} <mat-icon>refresh</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetDictionaries()">{{ "action.reset" | translate }} <mat-icon>delete</mat-icon></button>
</div>
<mat-card class="dictionaryList">
    <table>
        <thead class="tableContainer">
            <tr>
                <th>{{ "file.title" | translate }}</th>
                <th>{{ "file.description" | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="dictionary" *ngFor="let dictionary of dictionaryList">
                <td class="title">{{ dictionary.title }}</td>
                <td class="description">{{ dictionary.description }}</td>
                <td class="justified">
                    <div class="buttons">
                        <button
                            class="buttonModify"
                            mat-raised-button
                            (click)="openModifyDictionaryDialog(dictionary)"
                            *ngIf="!isDefault(dictionary)"
                        >
                            {{ "action.modify" | translate }}
                        </button>
                    </div>
                    <div class="buttons">
                        <button mat-raised-button (click)="deleteDictionary(dictionary)" *ngIf="!isDefault(dictionary)">
                            {{ "action.delete" | translate }}
                        </button>
                    </div>
                    <div class="buttons">
                        <button mat-raised-button (click)="downloadJson(dictionary)">
                            <mat-icon>file_download</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>

<app-import-dictionary></app-import-dictionary>
