<div id="reserve">
    <div id="number-letters">{{ gameClientService.letterReserveLength }}</div>
    {{ "game_page.informations.letters_remaining" | translate }}
</div>

<mat-card class="container-wrapper">
    <div #container class="message-container">
        <div *ngFor="let message of messages" [class]="'message ' + message.type">
            <span *ngIf="!isPlacementCommand(message.message)">{{ message.message }}</span>
            <span *ngIf="isPlacementCommand(message.message)" class="placement" (click)="submitMessage(message.message)">{{ message.message }}</span>
        </div>
    </div>
</mat-card>
<mat-form-field appearance="outline" (keydown.enter)="submit()" class="user-input">
    <mat-label> {{ "chat.message_box" | translate }} </mat-label>
    <input id="input" matInput maxlength="512" type="text" [formControl]="input" placeholder="Ex. Salut!" #chatbox />
    <mat-hint
        [ngClass]="{
            max: input.value?.length === 512
        }"
        align="end"
        >{{ input.value?.length || 0 }}/512
    </mat-hint>
</mat-form-field>
