.container-button {
    display: flex;
    align-items: center;
}

.setting-button {
    margin-bottom: 16px;
}

.max {
    // color: red;
}

mat-form-field {
    margin-bottom: 16px;
}

#info {
    display: inline;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 10;
    top: 325px;
    left: 70%;
    visibility: hidden;
}

#info p {
    margin: 0;
}

#info p:first-child {
    margin-bottom: 8px;
}

.soloMode {
    margin-bottom: 16px;
}
