.Parent {
    display: flex;
    flex-direction: row;
}

.child1 {
    width: 50%;
}

.child2 {
    width: 50%;
}

mat-selection-list {
    width: 80%;
}

mat-list-option {
    border-radius: 15px;
    margin-bottom: 2%;
}

.example-form-field {
    width: 200px;
}

.action-buttons {
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
}

.maxBeginner {
    color: red; //TODO
}

.maxExpert {
    color: red; //TODO
}
