.user-info {
    margin-inline: 20%;
    height: 96%;
    margin-block: 1%;
    justify-content: space-evenly;
}

h2 {
    margin-bottom: 10px;
    margin-top: 0px;
}

.selector-avatar {
    height: 56px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.user-stats {
    display: flex;
    height: 65%;
    justify-content: space-around;
    width: 100%;
}

.user-stats > div {
    width: 50%;
    justify-content: space-between;
}

#newUser {
    margin-bottom: 20px;
}

canvas {
    margin-bottom: 10px;
}

mat-card > div {
    transform: scale(0.9);
}

mat-tab-group {
    height: 85%;
    margin-bottom: 5px;
}
