<div class="encapsulating-div">
    <app-header></app-header>

    <body class="mat-app-background">
        <mat-card class="user-info justified">
            <h2>{{ userService.user.username }}</h2>
            <img mat-fab-button [src]="userService.user.profilePicture.key" class="selector-avatar mat-elevation-z5" />
            <button mat-flat-button color="primary" (click)="redirectSettingsPage()"><mat-icon>settings</mat-icon>Settings</button>
        </mat-card>
        <div class="user-stats">
            <mat-card class="justified">
                <h4>Stastiques</h4>
                <div>Temps moy :</div>
                <div>Score moy :</div>
                <div>Jeux joués :</div>
                <canvas #myChart width="160" height="160"></canvas>
            </mat-card>
            <mat-card class="justified">
                <h4>Historique</h4>
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="Parties">
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <p>Victoire</p>
                                <p>Date</p>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <p>Victoire</p>
                                <p>Date</p>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <p>Victoire</p>
                                <p>Date</p>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab label="Connexions"
                        ><mat-list role="list">
                            <mat-list-item role="listitem">Item 1</mat-list-item>
                            <mat-list-item role="listitem">Item 2</mat-list-item>
                            <mat-list-item role="listitem">Item 3</mat-list-item>
                        </mat-list>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </body>

    <app-footer></app-footer>
</div>
<!-- TODO: LANGUAGE!! -->
