<div class="encapsulating-div mat-app-background">
    <app-header></app-header>
    <button mat-fab-button class="return-button" mat-icon-button (click)="redirectHome()">
        <mat-icon>navigate_before</mat-icon>
    </button>
    <mat-drawer-container>
        <mat-card class="user-info justified">
            <div class="justified">
                <h2 *ngIf="userService.isConnected.getValue()">{{ userService.user.username }}</h2>
                <img
                    *ngIf="userService.isConnected.getValue()"
                    [src]="userService.user.profilePicture.key"
                    class="selector-avatar mat-elevation-z5"
                    alt="profile picture"
                />
                <button mat-button color="primary" (click)="redirectSettingsPage()">
                    <mat-icon>settings</mat-icon>
                    {{ "profile_settings.settings" | translate }}
                </button>
            </div>
            <mat-divider style="width: 90%"></mat-divider>
            <div class="user-stats">
                <div class="justified">
                    <h4>{{ "profile_settings.stats" | translate }}</h4>
                    <div>{{ "profile_settings.avg_time" | translate }} : {{ userStats?.averageGameTime }}</div>
                    <div>{{ "profile_settings.avg_score" | translate }} : {{ userStats?.averageGameScore }}</div>
                    <div>{{ "profile_settings.games" | translate }} : {{ userStats?.gameCount }}</div>
                    <canvas #myChart width="160" height="160"></canvas>
                    <div #newUser *ngIf="playerHasntPlayed()">{{ "profile_settings.new_user" | translate }}</div>
                </div>
                <mat-divider vertical></mat-divider>
                <div class="justified">
                    <h4>{{ "profile_settings.history" | translate }}</h4>
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                        <mat-tab label="Parties">
                            <mat-list>
                                <div *ngFor="let game of games">
                                    <mat-list-item>
                                        <div id="list-item-content">
                                            <span *ngIf="game.gameWon" style="color: green">{{ "profile_settings.win" | translate }}</span>
                                            <span *ngIf="!game.gameWon" style="color: red">{{ "profile_settings.loss" | translate }}</span>

                                            <span>{{ game.date }}</span>
                                        </div>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </div>
                            </mat-list>
                        </mat-tab>
                        <mat-tab label="Connexions">
                            <mat-list>
                                <div *ngFor="let connection of connections">
                                    <mat-list-item>
                                        <div id="list-item-content">
                                            <!-- TODO: language -->
                                            <span>{{ connection.event }}</span>
                                            <span>{{ connection.date }}</span>
                                        </div>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </div>
                            </mat-list>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </mat-card>
    </mat-drawer-container>

    <app-footer></app-footer>
</div>
