@use '@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();

$app-primary-color: #c2e5da;
$app-accent-color: #7fa99b;

$component-primary-color: #7fa99b;
$component-accent-color: #c2e5da;
$component-warn-color: rgb(245, 132, 151);

$button-primary-color: #23501f;
$button-accent-color: #23501f;
$button-warn-color: #23501f;

// Create the theme object (a Sass map containing all of the palettes).
$app-classic-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-classic-theme);

// Export theme colors
$primary: mat-color($app-primary-color);
$accent: mat-color($app-accent-accent);
$warn: mat-color($app-warn);

// @include mat-light-theme($classic-light);

.classic-light-theme {
    $classic-light-theme: mat.define-light-theme(
        (
            color: (
                primary: mat.define-palette($component-bg-color),
                accent: mat.define-palette($button-bg-color),
                warn: mat.define-palette($warn-color),
            ),
        )
    );
    @include mat.all-component-colors($deeppurple-amber-theme);
}
