<app-header style="width: 100%" class="sticky"></app-header>

<body class="justified">
    <form [formGroup]="formGroup" class="justified connection-form">
        <button #avatarSelector *ngIf="imageSrcForm.invalid" mat-fab color="primary" (click)="openAvatarSelector()" class="avatar-selector">
            <mat-icon>person</mat-icon>
        </button>
        <img
            mat-fab-button
            *ngIf="imageSrcForm.valid"
            [src]="imageSrcForm.value"
            (click)="openAvatarSelector()"
            class="selecter-avatar mat-elevation-z5"
        />
        <mat-form-field appearance="outline">
            <!-- TODO : Language -->
            <mat-label>Nom d'utilisateur</mat-label>
            <input type="text" matInput name="username" [formControl]="usernameForm" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <!-- TODO : Language -->
            <mat-label>Email</mat-label>
            <input matInput type="email" [formControl]="emailForm" />
            <mat-error *ngIf="emailForm.hasError('email') && !emailForm.hasError('required')">
                <!-- TODO : Language -->
                Please enter a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <!-- TODO : Language -->
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput [formControl]="passwordForm" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <!-- TODO : Language -->
            <mat-label>Confirmation de mot de passe</mat-label>
            <input type="password" matInput [formControl]="passwordCopyForm" />
            <mat-error *ngIf="passwordCopyForm.hasError('equalString')">
                <!-- TODO : Language -->
                Passwords aren't equal
            </mat-error>
        </mat-form-field>
        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" [useGlobalDomain]="false" formControlName="recaptcha"> </ngx-recaptcha2>
        <!-- TODO : something to choose theme -->
    </form>
    <mat-error>{{ connectionError }}</mat-error>
    <!-- TODO : Language -->
    <button mat-raised-button *ngIf="formGroup.valid" (click)="submitNewAccount()">Connecter</button>
    <!-- TODO : Language -->
    <button mat-raised-button *ngIf="formGroup.invalid" disabled>Connecter</button>
</body>

<app-footer style="width: 100%"></app-footer>
