<app-header style="width: 100%" class="sticky"></app-header>

<body class="justified">
    <div [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>username</mat-label>
            <input matInput />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>password</mat-label>
            <input matInput />
        </mat-form-field>
        <!-- TODO : something to choose theme -->
    </div>
</body>

<app-footer style="width: 100%"></app-footer>
