<div class="justified-rack">
    <div class="left-side" *ngIf="isCurrentPlayerPlaying()">
        <button mat-raised-button [disabled]='!gameClient.currentlyPlaying() && letterPlacementService.placedLetters.length === 0' (click)='askForClue()'>
            <!-- TODO : Language -->
            Indice
        </button>
        <button id="skip-turn" mat-raised-button [disabled]="!gameClient.currentlyPlaying()" (click)="skipTurn()">
            {{ "game_page.rack.skip_round" | translate }}
        </button>
        <button
            *ngIf="lettersToExchange.length !== 0"
            id="exchange"
            mat-raised-button
            [disabled]="!gameClient.currentlyPlaying() || lettersToExchange.length === 0 || gameClient.letterReserveLength < 7"
            (click)="exchangeLetters()"
        >
            {{ "game_page.rack.switch_letters" | translate }}
        </button>
    </div>

    <div
        class="rack-info justified-rack"
        id="player-rack"
        cdkDropList
        [cdkDropListData]="gameClient.getLocalPlayer()?.rack"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"
    >
        <div *ngIf="isCurrentPlayerPlaying()" class="rack">
            <div
                cdkDrag
                [cdkDragData]="letter"
                *ngFor="let letter of gameClient.getLocalPlayer()?.rack; index as i"
                (click)="onSelection($event, i)"
                class="rack"
                (cdkDragStarted)="startedDragging(letter)"
                (cdkDragMoved)="dragging($event, letter)"
            >
                <button mat-flat-button color="accent" class="rack-letter letter-shadow" *cdkDragPlaceholder></button>
                <button mat-raised-button [color]="lettersToExchange.includes(i) ? 'primary' : 'accent'" class="rack-letter">
                    <div class="letter-value">{{ letter.value.toUpperCase() }}</div>
                    <div class="letter-points">{{ letter.points }}</div>
                </button>
            </div>
        </div>
        <div *ngIf="!isCurrentPlayerPlaying()" class="rack">
            <div *ngFor="let letter of player?.rack; index as i" class="rack">
                <button mat-raised-button color="accent" class="rack-letter">
                    <div class="letter-value">
                        {{ letter.value.toUpperCase() }}
                    </div>
                    <div class="letter-points">{{ letter.points }}</div>
                </button>
            </div>
        </div>
    </div>

    <div class="right-side" *ngIf="isCurrentPlayerPlaying()">
        <button
            *ngIf="lettersToExchange.length !== 0"
            id="cancel"
            mat-raised-button
            [disabled]="lettersToExchange.length === 0"
            (click)="cancelSelection()"
        >
            {{ "action.cancel" | translate }}
        </button>
        <button mat-raised-button (click)="letterPlacementService.submitPlacement()" [disabled]="letterPlacementService.noLettersPlaced()">
            {{ "action.play" | translate }}
        </button>
    </div>
</div>
