<!-- <div *ngIf="!isHomePage" id="home" (click)="redirectHome()">
    <div *ngFor="let letter of getLetters('header.home')">{{ letter }}</div>
</div>

<div *ngIf="isHomePage" id="admin" (click)="redirectAdmin()">
    <div *ngFor="let letter of ['B','I','E','N','V','E','N','U','E']">{{ letter }}</div>
</div> -->

<mat-toolbar>
    <div>
        <img id="image" src="https://bit.ly/3m206ss" width="250" height="50" alt="Logo Scrabble" (click)="redirectHome()" />
    </div>

    <div id="toggle">
        <button mat-mini-fab color="accent" (click)="themeService.toggleDarkMode()">
            <mat-icon *ngIf="themeService.isDarkTheme.value">bedtime</mat-icon>
            <mat-icon *ngIf="!themeService.isDarkTheme.value">wb_sunny</mat-icon>
        </button>
    </div>
</mat-toolbar>
