#home,
#admin,
#toggle,
#image {
    cursor: pointer;
}

#home,
#admin {
    display: flex;
    position: absolute;
    left: 16px;
}

#image {
    justify-content: center;
}

#user-icon {
    position: absolute;
    right: 16px;
}

mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector-avatar {
    margin-bottom: 20px;
    align-self: center;
    height: 56px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.mdc-button {
    font-weight: 800;
    font-family: system-ui;
    display: flex;
    border-radius: 3px;
    margin: 2px;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
}
