<div *ngIf="isHomePage" id="admin" (click)="redirectAdmin()">
    <div *ngFor="let letter of ['B', 'I', 'E', 'N', 'V', 'E', 'N', 'U', 'E']">{{ letter }}</div>
</div>

<div id="toggle">
    <button mat-fab color="accent" (click)="themeService.toggleDarkMode()">
        <mat-icon *ngIf="themeService.isDarkTheme.value">bedtime</mat-icon>
        <mat-icon *ngIf="!themeService.isDarkTheme.value">wb_sunny</mat-icon>
    </button>
</div>

<div id="image">
    <img src="https://bit.ly/3m206ss" width="300" height="60" alt="Logo Scrabble" (click)="redirectHome()" />
</div>
