// #home,
// #admin,
#toggle,
#image {
    cursor: pointer;
}

// #home,
// #admin {
//     margin-left: 30px;
// }

#image {
    justify-content: left;
}

#toggle {
    justify-content: right;
}

mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// #home > *,
// #admin > * {
//     font-weight: 800;
//     font-family: system-ui;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: #fbd7a3;
//     border-radius: 3px;
//     margin: 2px;
//     margin-top: 30px;
//     width: 35px;
//     height: 35px;
//     text-align: center;
// }
