<div class="encapsulating-div">
    <b id="winning-message" *ngIf="gameClientService.isGameFinish">
        {{ gameClientService.winningMessage | translate : { playerName: gameClientService.winner } }}
    </b>

    <mat-drawer-container>
        <div class="always-visible-content">
            <app-information-panel></app-information-panel>

            <div cdkDropListGroup>
                <app-game-board></app-game-board>

                <app-player-rack [keyboardParentSubject]="keyboardParentSubject" class="player-rack"></app-player-rack>
                <button *ngIf="chatIsOpen" class="open-chat-button" mat-button color="primary" (click)="drawer.toggle()" (click)="closeChat()">
                    {{ "main_page.chat.close" | translate }}
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
                <button *ngIf="!chatIsOpen" class="open-chat-button" mat-button color="primary" (click)="drawer.toggle()" (click)="openChat()">
                    <mat-icon>chat_bubble_outline</mat-icon>
                    {{ "main_page.chat.open" | translate }}
                </button>
            </div>
        </div>

        <mat-drawer #drawer class="chat-sidenav" mode="side" position="end">
            <app-generic-chat></app-generic-chat>
        </mat-drawer>
    </mat-drawer-container>
</div>
