<div class="container-wrapper">
    <b id="winning-message" *ngIf="gameClientService.isGameFinish">{{
        gameClientService.winningMessage | translate : { playerName: gameClientService.winner }
    }}</b>
    <div class="container">
        <div id="police">
            <p id="font-size">{{ "game_page.play_area.font_size" | translate }}</p>
            <mat-slider id="updateFontSlider" (input)="updateFontSize($any($event))" step="1" min="20" max="30"></mat-slider>
        </div>
        <canvas id="canvas" #gridCanvas (click)="mouseHitDetect($event)" [attr.width]="width" [attr.height]="height"></canvas>
    </div>
    <app-player-rack [keyboardParentSubject]="keyboardParentSubject" class="player-rack"></app-player-rack>
</div>
