.encapsulating-div {
    width: inherit;
}

mat-drawer-container {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-drawer {
    right: 0;
    height: 100%;
    width: 20%;
    padding: 10px;
}

.open-chat-button {
    position: absolute;
    right: 10px;
    top: 5px;
}

.chat-sidenav {
    display: flex;
    max-width: 25%;
    min-width: min-content;

    ::ng-deep + div {
        overflow-x: hidden !important;
        width: -webkit-fill-available;
    }

    app-generic-chat {
        display: grid;
        height: 100%;
        grid-template-rows: 1fr max-content;
        align-content: space-between;

        ::ng-deep label {
            overflow: unset;
            right: auto;
        }
    }
}

#winning-message {
    position: absolute;
    top: calc(50% - 2em);
    padding: 10px;
    font-family: system-ui;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
}

app-information-panel {
    flex-grow: 1;
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

app-game-board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 570px;
    width: 570px;
}

app-player-rack {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
    margin-bottom: 32px;
}

::ng-deep .mat-drawer-content {
    width: inherit;
}
