<mat-card>
	<mat-card-content>
		<mat-grid-list gutterSize="16" cols="4" height="fit">
			<mat-grid-tile [mat-dialog-close]="imageSource" *ngFor="let imageSource of imageSources">
				<mat-icon *ngIf="isImageSelected(imageSource)">check</mat-icon>
				<img [ngClass]="isImageSelected(imageSource) ? 'selected-image' : ''" src="{{ imageSource }}" />
			</mat-grid-tile>
		</mat-grid-list>
	</mat-card-content>
	<mat-card-actions>
		<button mat-flat-button color="primary">Importer</button>
	</mat-card-actions>
</mat-card>
