<mat-card>
	<mat-card-content>
		<mat-grid-list gutterSize="16" cols="4" height="fit">
			<mat-grid-tile [mat-dialog-close]="defaultImage" *ngFor="let defaultImage of defaultImages">
				<mat-icon *ngIf="isImageSelected(defaultImage.url)">check</mat-icon>
				<img [ngClass]="isImageSelected(defaultImage.url) ? 'selected-image' : ''" [src]="defaultImage.url" />
			</mat-grid-tile>
		</mat-grid-list>
	</mat-card-content>
	<mat-card-actions>
		<button mat-flat-button (click)="image.click()" color="primary">
			Importer
			<input #image hidden (change)="uploadImage()" type="file" accept=".png,.jpg" value="Import" /><br />
		</button>
	</mat-card-actions>
</mat-card>
