mat-card {
    height: 86%;
    margin-bottom: 4%;
}

mat-form-field {
    height: 10%;
}

.message-container {
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    overflow-y: auto;
}

.message {
    margin: 12px 0px;
    font-family: sans-serif;
}

.chat-input {
    display: flex;
    height: fit-content;
    padding: 8px;
    gap: 8px;

    button {
        align-self: center;
    }
}

.chat-metadata {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 4px;

    strong {
        padding-right: 4px;
    }

    p {
        font-size: 0.6em;
        margin-bottom: 0px;
    }
}

.current-user {
    text-align: right;
}

.current-user > span {
    border-radius: 6px;
    padding: 5px 10px;
}

.opponent-user {
    text-align: left;
}

.opponent-user > span {
    border-radius: 6px;
    padding: 5px 10px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 5px;
}

.system-message {
    text-align: center;
}

.user-input {
    width: 100%;
}

.max {
    color: red;
}

::ng-deep .mat-mdc-form-field-bottom-align {
    height: 0px;
}

.placement {
    text-decoration: underline;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 4px;
}
