mat-card {
    height: 85%;
    background: rgb(255 255 255 / 70%);
}

mat-form-field {
    height: 15%;
}

#reserve {
    display: flex;
    align-items: center;
    color: #23501f;
}

.message-container {
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    overflow-y: auto;
}

.message {
    margin: 10px 0px;
    font-family: sans-serif;
}

.current-user {
    color: #ffffff;
    text-align: right;
}

.current-user > span {
    background: #23501f;
    border-radius: 6px;
    padding: 5px 10px;
}

.opponent-user {
    color: #ffffff;
    text-align: left;
}

.opponent-user > span {
    background: #7fa99b;
    border-radius: 6px;
    padding: 5px 10px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff;
    border-radius: 5px;
}

.system-message {
    color: #23501f;
    text-align: center;
}

.user-input {
    width: 100%;
}

.max {
    color: red;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background: rgba(255, 255, 255, 0.889);
}

.placement {
    text-decoration: underline;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #7fa99b !important;
}
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255) !important;
}
