.headerContent {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;

    .returnButton {
        float: left;
    }

    .containerTitle {
        flex: 2;
        right: 4%;
    }
}

.containerTitle {
    text-align: center;
}
