<mat-card>
    <mat-card-content>
        <mat-form-field (keydown.enter)="close()">
            <mat-label>
                <!-- TODO : Language -->
                Mot de passe
            </mat-label>
            <input matInput type="text" [formControl]="passwordForm" />
            <mat-error> {{ getErrorMessage() }} </mat-error>
            <button mat-icon-button matSuffix (click)="close()">
                <mat-icon> login</mat-icon>
            </button>
        </mat-form-field>
    </mat-card-content>
</mat-card>
