app-play-area {
    height: 100%;
    width: 100%;
    display: flex;
}

.load {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}

.load > h1 {
    font-family: revert;
}
