body {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div > button:first-of-type {
    margin-right: 5px;
}

.connection-buttons {
    display: flex;
    flex-direction: column;

    > div {
        margin-bottom: 8px;
    }

    > button {
        width: 100%;
    }
}
