<h1>{{ "dictionary.modify" | translate }} <mat-icon matSuffix>mode_edit</mat-icon></h1>

<form class="modify-dictionary-form">
    <mat-form-field id="title" class="example-full-width" appearance="fill">
        <mat-label>{{ "file.tite" | translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="data.newTitle" name="title" />
    </mat-form-field>
    <mat-form-field id="description" class="example-full-width" appearance="fill">
        <mat-label>{{ "file.description" | translate }}</mat-label>
        <input type="text" matInput [(ngModel)]="data.description" name="description" />
    </mat-form-field>
</form>

<div id="buttons">
    <button mat-raised-button mat-dialog-close>{{ "action.cancel" | translate }}</button>
    <button mat-raised-button [mat-dialog-close]="{ title: data.newTitle, description: data.description }">{{ "action.modify" | translate }}</button>
</div>
