<div mat-dialog-content>
    <p>{{ "virtual_player.name" | translate }}</p>
    <mat-form-field appearance="fill">
        <mat-label> {{ "virtual_player.new_name" | translate }} </mat-label>
        <input matInput maxlength="20" [(ngModel)]="data.newName" />
        <mat-hint
            [ngClass]="{
                max: data.newName?.length === 20
            }"
            align="end"
            >{{ data.newName?.length || 0 }}/20</mat-hint
        >
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{ "action.no_thanks" | translate }}</button>
    <button mat-button [mat-dialog-close]="data.newName" cdkFocusInitial>{{ "action.ok" | translate }}</button>
</div>
